@media only screen and (max-width: 425px) {
  body {
    overflow: scroll;
  }

  main {
    flex-direction: column;
    overflow: scroll;
  }

  nav {
    flex-direction: row;
    width: 100%;
    padding: 0;
    height: 100px;
  }

  /* nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    width: 50%;
  } */
  nav .navOptions {
    /* display: none; */
    position: absolute;
    top: 75px;
    background-color: var(--darkColor);
    z-index: 10;
    width: 100%;
    height: 0%;
    overflow: hidden;
    transition-duration: 0.2s;
  }

  nav h1 {
    width: 95%;
    padding: 15px 0px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav h1 img {
    height: 50px;
    display: block;
  }

  section {
    width: 100%;
    overflow: scroll;
  }

  .appName {
    font-size: 30px;
  }

  .progressCardsContainer {
    gap: 40px;
    padding-bottom: 20px;
  }

  .AvailableRouteListItem {
    width: 300px;
  }

  .fixedButton {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 0%;
    margin-bottom: 10px;
  }

  .RBcontent {
    flex-direction: column;
  }

  .RBcontent .input,
  .RBcontent .output {
    width: 90%;
  }


  .RBcontent .input label {
    padding-top: 10px;
  }

  .RBcontent .input label,
  .RBcontent .input input,
  .copiers p {
    width: 90%;
  }

  .copiers .actionButtons button {
    width: 100px;
    height: 40px;
  }

  .RBcontent .input .inputContainer .troubleBtn {
    height: 100px;
    width: 150px;
  }

  .ARPContent .header {
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
  }

  .ARPContent .header h2 {
    width: 35%;
    padding-left: 0px;
    padding: 0px 2px;
    font-size: 18px;
    overflow: hidden;
  }

  .ARPContent .header button {
    width: 30%;
    margin: 0 10px;
  }

  .ARPContent .header .progressContainer {
    width: 35%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-right: 10px;
  }

  .ARPContent .header .progressContainer p:nth-child(1),
  .ARPContent .header .progressContainer p:nth-child(3) {
    display: none;
  }

  .progressContainer .progressBarsContainer {
    width: 100px;
  }

  .ARPContent .content .contentHeader {
    font-size: 10px;
  }

  .circleBtn {
    bottom: 10px;
    right: 10px;
    z-index: 1000;
  }

  .ARPContent .content .table ul li {
    height: 25px;
    overflow: hidden;
  }

  .stopsDropDownMenu {
    left: 10px;
    top: 215px;
  }

  .commonRoutesWokingPanel .tools .options button {
    width: 17%;
    height: 50px;
    font-size: 16px;
    padding: 2px;
  }

  .panelLists ul:nth-child(1) {
    width: 75%;
  }

  .panelLists ul:nth-child(2) {
    width: 25%;
  }

  .panelLists ul li {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
  }

}